
<div class="management_view">
  <h1>Inventory Management</h1>

  <% if (message) { %>
    <div class="flash-message"><%= message %></div>
  <% } %>

  <a href="/inv/add-classification" class="button-link">Add New Classification</a><br>
  <a href="/inv/add-inventory" class="button-link">Add New Inventory Item</a>
</div>

