
<div class="management_view">
  <h1>Inventory Management</h1>

  <% if (typeof message !== 'undefined' && message) { %>
    <div class="flash-message"><%= message %></div>
  <% } %>


  <a href="/inv/add-classification" class="button-link">Add New Classification</a><br>
  <a href="/inv/add-inventory" class="button-link">Add New Inventory Item</a>
  <h2>Manage Inventory</h2>
  <p>Select a classification from the list</p>
  <%- classificationSelect %>
  <table id="inventoryDisplay"></table>
  <noscript>JavaScript must be enabled to use this page.</noscript>
</div>

<script src="../../js/inventory.js"></script>

